<%= form_for @team do |f| %>
  <p>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :coach %>
    <%= f.text_field :coach %>
  </p>
  <p>
    <%= f.label :sport %>
    <%= f.text_field :sport %>
  </p>
  <%= f.submit %>

<% end %>